# 빌드 파일 제외
**/build/
**/.dart_tool/
**/android/local.properties
**/ios/Flutter/Generated.xcconfig
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/
**/macos/Flutter/ephemeral/

# Go 바이너리 파일
*.exe
*.exe~
**/bin/

# IDE 파일
**/.idea/
**/.vscode/settings.json

# 기타 임시 파일
**/.DS_Store
**/Thumbs.db
**/flutter_windows.dll.pdb
